/*=========== TABLE OF CONTENTS ===========
1. Text CSS
2. Heading CSS
3. Container CSS
==========================================*/

/*-------------------------------------
  1. Text CSS
--------------------------------------*/
.ui.text.size-textxs {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.ui.text.size-texts {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.ui.text.size-textmd {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.ui.text {
  color: var(--gray_800_01);
  font-family: Raleway;
}

/*-------------------------------------
  2. Heading CSS
--------------------------------------*/
.ui.heading.size-headingxs {
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
}

.ui.heading.size-headings {
  font-size: 30px;
  font-weight: 700;
  font-style: bold;
  @media only screen and (max-width: 1050px) {
    font-size: 28px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.ui.heading.size-headingmd {
  font-size: 41px;
  font-weight: 700;
  font-style: bold;
  @media only screen and (max-width: 1050px) {
    font-size: 37px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 31px;
  }
}

.ui.heading {
  color: var(--gray_800_01);
  font-family: Raleway;
}

/*-------------------------------------
  3. Container CSS
--------------------------------------*/
.container-xs {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
