@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/RalewayBold.ttf");
  font-family: "Raleway";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/RalewayRomanRegular.ttf");
  font-family: "Raleway";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/RalewayRegular.ttf");
  font-family: "Raleway";
  font-weight: 400;
}
